
<div class="card" style="width: 18rem">
    <ul *ngFor="let cliente of clientes" class="list-group list-group-flush">
        <li class="list-group-item">Nome do Cliente: {{cliente.nome}}</li>
        <li class="list-group-item">CPF: {{cliente.cpf}}</li>
        <li class="list-group-item">Telefone: {{cliente.telefone}}</li>
        <li class="list-group-item">Status: {{cliente.status}}</li>
        <li class="list-group-item">Email: {{cliente.email}}</li>
        <li class="list-group-item">Profissão: {{cliente.profissao}}</li>
        <li class="list-group-item">Renda: {{cliente.renda}}</li>
        <li class="list-group-item">Local: {{cliente.local}}</li>
    </ul>
</div>


