<div class="jumbotron mb-0">
    <h1 class="display-4">{{ title }}</h1>
</div>
<form action="" class="card-body" method="post">
    <table class="table" >
        <tr>
            <th scope="col">Nome do Cliente: </th> 
            <th scope="col">CPF: </th>
            <th scope="col">Telefone: </th>
            <th scope="col">Status: </th>
            <th scope="col">Email: </th>
            <th scope="col">Profissão: </th>
            <th scope="col">Renda: </th>
            <th scope="col">Local: </th>
        </tr>
    </table>
</form>